@import "@styles/vars";

.relatedProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: $space-xs;
  justify-items: stretch;
  margin-bottom: 146px;
}

.title {
  margin: $space-xl 0 $space-l;
  font-size: 32px;
  line-height: 48px;
}

