@import "@styles/vars";

.dropdown {
  position: relative;

  &_open .dropdown__input {
    border: 1px solid $input-border-focus;
  }

  &_disabled {
    pointer-events: none;
  }

  &__options {
    position: absolute;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    background-color: $dropdown-options-bg;
    box-shadow: $shadow;
  }

  &__option {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: 48px;
    padding: $space-s $space-xs;
    color: $text-primary;
    text-align: left;
    cursor: pointer;
    transition: color 0.2s ease;

    :hover {
      color: $text-secondary;
    }
  }

  &__option_selected {
    color: $text-accent;
  }
}